@font-face {
	font-family: nunitofont_bold;
	src: url('http://52.59.224.79/website/assets/Nunito-Bold.ttf');
	
}

@font-face {
	font-family: nunitofont_semibold;
	src: url('http://52.59.224.79/website/assets/Nunito-SemiBold.ttf');
	
}

@font-face {
	font-family: nunitofont_regular;
	src: url('http://52.59.224.79/website/assets/Nunito-Regular.ttf');
	
}


@font-face {
	font-family: nunitofont_light;
	src: url('http://52.59.224.79/website/assets/Nunito-Light.ttf');
	
}


@font-face {
	font-family: nunitofont_extrabold;
	src: url('http://52.59.224.79/website/assets/Nunito-ExtraBold.ttf');
	
}


body {
	background-color:#140F26;
	margin:0px;
	font-family:nunitofont_regular;
	font-size:15px;
	overflow-x:hidden;
	color:white;
	padding:0px;
	
}

h1 {
	color:white;
	margin-bottom:10px;
	margin-top:15px;
	font-size:22px;
	font-family:nunitofont_extrabold;
	letter-spacing:1px;
	text-transform:uppercase;
	
}

h2 {
	color:#69DCCB;
	margin-bottom:10px;
	margin-top:15px;
	font-size:16px;
	font-family:nunitofont_semibold;
	
}

a {
	color:rgba(255, 255, 255, 0.7);
	
}

strong {
	letter-spacing:0px;
	color:white;
	font-family:nunitofont_bold;
	
}

img {
	width:100%;
	
}

p {
	margin-top:30px;
	
}

.logo {
	width:40px;
	margin-top:55px;
	
}

.container {
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	margin-bottom:45px;		
	width:90%;
	max-width:600px;
	text-align:left;
	
}

.action {
	margin-left:auto;
	margin-right:auto;
	margin-top:45px;
	margin-bottom:75px;		
	cursor:pointer;
	background-color:#69DCCB;
	color:white;
	font-family:nunitofont_extrabold;
	text-align:center;
	padding-top:12px;
	padding-bottom:12px;
	padding-left:18px;
	padding-right:18px;			
	font-size:14px;
	border-style:none;
	border-radius:3px;
	outline:none;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3);
	text-decoration:none;
	
}

.footer {
	padding-top:20px;
	padding-bottom:25px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	margin-bottom:45px;		
	width:100%;
	max-width:600px;
	text-align:center;
		
}

.social {
	width:38px;
	margin-left:5px;
	margin-right:25px;
	margin-bottom:10px;	
	border-radius:20px;
	
}

.sender {
	margin:0px;
	position:relative; 
	display:inline-block; 
	vertical-align:middle;
	
}
	


